@model _24DH111266_MyStore.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="bg-info">Xóa Danh Mục</h2>

@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <h4>Bạn Chắc Chắn Xóa Danh Mục Này?</h4>
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2">Tên Danh Mục</div>
        <div class="col-md-10">
            @*Hiển Thị GIá Trị Của CategoryName*@
            @Html.DisplayFor(model => model.CategoryName)
        </div>

        @using (Html.BeginForm()){
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Xóa" class="btn btn-primary" /> |
                    @Html.ActionLink("Quay Lại Danh Sách", "Index", null, new { @class = "btn btn-primary" })
                </div>
            </div>
        }

    </div>
</div>

        }
